html {
    background-color: #e2e2e2;
    margin: 0;
    padding: 0;
}

body {
    margin: auto;
    font: 0.92em/1.4 "Segoe UI",Tahoma,Arial,"MS Sans Serif",sans-serif;
    width: 800px;
}

form {
    margin: 5px;
    width: auto;
}

form > legend {
    padding: 0;
    margin: 0;
}

input {
    margin: 2px;
}

    input[type="submit"] {
        height: auto;
        width: 10%;
    }

    input[type="text"] {
        height: 1.4em;
        width: 80%;
    }

table {
    font-family: Verdana;
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border-right: 1px dotted silver;
    border-bottom: 1px dotted silver;
    padding: .5ex;
}

th.singer {
    width: 25%;
}

th.song {
    width: 35%;
}

th.album {
    width: 30%;
}

th.year {
    width: 10%;
}

table > caption {
    caption-side: top;
    margin-bottom:auto;
    text-shadow: 2px 2px 3px grey;
    font-variant: small-caps;
}

tr:nth-child(odd) {
    background: #ccc;
}

tr:nth-child(even) {
    background: #eee;
}

tr:hover {
    color: white;
    background: linear-gradient(to top, rgb(192,0,0), rgb(104,0,0));
    cursor: pointer;
    -webkit-transition-property: color, background;
    -webkit-transition-duration: 200ms, 1s;
    -webkit-transition-timing-function: linear, ease;
    -o-transition-property: color, background;
    -o-transition-duration: 200ms, 1s;
    -o-transition-timing-function: linear, ease;
    -moz-transition-property: color, background;
    -moz-transition-duration: 200ms, 1s;
    -moz-transition-timing-function: linear, ease;
    transition-property: color, background;
    transition-duration: 200ms, 1s;
    transition-timing-function: linear, ease;
}

thead > tr {
    color: white;
    background: black !important;
}

tr:not(:nth-child(1)) th {
    text-align: left;
}
td:nth-last-child(1) {
    border-right: none;
}